html,body{
    height: 100%;
    margin: 0%;
}
body{
    overflow: hidden;
}
#calendario{
    background-color: black;
    height:25%;
    width: 20%;
    float: left;
    position: relative;
    z-index: 999;
}
#contenido{
    background-color: orange;
    float:left;
    height: 50%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: .5em;
    position: relative;
}
footer{
    background-color: gray;
    height: 15%;
}

header{
    height: 20%;
}
#head{
    background-color: red;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}
#login{
    background-color: green;
    float:left;
    height: 25%;
    margin-left: 45%;
    width: 20%;
    position: relative;
    z-index: 999;

}
#logo{
    background-color: yellow;
    float: left;
    height: 100%;
    width: 15%;


}
#redes{
    background-color: blue;
    float:left;
    height: 30%;
    margin-left: 50%;
    margin-top: 3em;
    position: relative;
    width: 30%;
    
}
#pestañas{
    background-color: red;
    float:left;
    height: 15%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2em;
    position: relative;

}
#wrap{
    background-color: green;
    height: 65%;
    margin-left: 15%;
    margin-right: 15%;

}